.sticky-header-container {
	margin-top: 105px;
	background-color:#f4f4f4;
}

.sticky-header-container .container {
	padding-top:30px;
	padding-bottom:30px;
}

.mtb8 {
	margin-bottom: 8px;
	margin-top: 8px;
}

.plr8 {
	padding-left: 8px;
	padding-right: 8px;
}

.blog-masonry-item {
	margin-top:30px;
}

.blog-masonry-item h2 {
	font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

.blog-masonry-item .post-title p {
	font-size: 14px;
    margin-bottom: 0
}

.blog-masonry-item .post-title .post-meta {
    margin-top: 30px;
}

.messages-title .header h1 {
	font-size: 38px;
    color: #1f2e3d;
	margin-bottom: 15px;
    margin-top: 10px;
}

.blog-masonry-item .card {
    border-color: #dddddd;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.blog-filters {
	padding: 0px;
    list-style: none;
    overflow: hidden;
    display: inline-block;
    margin-top: 25px;
}

.img-blog {
    height: 565px;
    position: relative;
    overflow: hidden;
}

.mrl0 {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.kids-groups {
	padding-top: 50px;
    background: #f4f4f4
}

.more-posts{
	background: #FFFFFF !important;
    padding-top: 50px;
}
